@model IList<SprintPlannerZM.Model.Sprintlokaalreservatie>



<table class="table">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Uur
            </th>
            <th>
                aantal hulpleerlingen
            </th>
            <th>
                lokaal
            </th>
            <th>
                type
            </th>
            <th>
                toezichter
            </th>
            <th>
                acties
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var distinctlist in Model)
        {

            <tr>
                <td>
                    @distinctlist.datum
                </td>
                <td>
                    @distinctlist.tijd
                </td>
                <td>
                     @distinctlist.Leerlingverdelingen.Count
                </td>
                <td>
                    @distinctlist.Lokaal.lokaalnaam
                </td>
                <td>
                    @distinctlist.reservatietype
                </td>
                <td>
                    @if (distinctlist.leerkrachtID == null)
                    {
                        <span class="text-danger">GEEN TOEZICHTER </span>
                    }
                    else
                    {
                        <span>
                            @distinctlist.Leerkracht.achternaam @distinctlist.Leerkracht.voornaam
                    </span>
                }
                </td>
                <td>
                    <a asp-action="ToezichterToevoegen" asp-route-id="@distinctlist.sprintlokaalreservatieID">Toezichter toevoegen</a> |
                    <a asp-action="DetailsExamen" asp-route-id="@distinctlist.sprintlokaalreservatieID">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
