@model IList<SprintPlannerZM.Model.Sprintlokaalreservatie>

@{

    var arraydistincted = Model.Distinct().ToArray();
}
@foreach (var distinctlist in arraydistincted)
{
    <div>@distinctlist.reservatietype  <br />
        @distinctlist.Lokaal.lokaalnaam <br /> 
        @distinctlist.datum <br /> 
        @distinctlist.tijd  <br />
        @distinctlist.Examen.Vak.vaknaam <br /> <br />
        </div>
}
