@model IList<SprintPlannerZM.Model.Examenrooster>
@{
    var count = 0;
    var idMaker = "";
}
<h1 class="left-allignToNav"><b>Admin Zone</b></h1>
<section class="left-allignToNav pt-5 containerAgenda">
    <div class="tbl-headerAgenda">
        <table>
            <thead>
                <span class="text-center text-white">
                    <b>
                        <h5>Klasverdeling</h5>
                    </b>
                </span>
            </thead>
        </table>
    </div>
    <div class="tbl-contentAgenda">
        <div id="planner">
            @foreach (var examen in Model)
            {

                count++;
                idMaker = "position" + count;
                var datumWeergave = examen.datum.Date.ToString().Split(" ")[0];
                if (examen.Leerlingverdelingen.Count==0)
                {
                    <div class="card-body cardBodyCSS align-items-center cardMargin" id="@idMaker">
                        <h6>@datumWeergave</h6>
                        <a  type="button" asp-controller="Admin" asp-action="LeerlingVerdeling" asp-route-datum="@examen.datum" class="btn btn-center btn-gen">Genereer</a>
                    </div>
                }
                else
                {
        <div class="card-body cardBodyCSSDone align-items-center cardMargin" id="@idMaker">
            <h6>@datumWeergave</h6>
            <a type="button" asp-action="ConsulterenExamenverdeling" asp-controller="Admin" asp-route-date="@examen.datum" class="btn btn-center btn-primary"> Consulteer </a>
            <a type="button" asp-controller="Admin" asp-action="VerdelingVerwijderen" asp-route-date="@examen.datum" class="btn btn-center btn-gen">Verwijder</a>
        </div>
                }
                
                
            }
        </div>
    </div>
</section>

<div class="containerCenterHor left-allignToNav pt-4">
    
   
</div>