@model SprintPlannerZM.Model.PaginatedList<SprintPlannerZM.Model.Leerling>

@{
    ViewData["Title"] = "LeerlingenOverzicht";
}

<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link href="~/css/bootstrap-extensions.css" rel="stylesheet" asp-append-version="true"/>
</head>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var currentpage = Model.PageIndex;
    var totalpage = Model.TotalPages != 0 ? Model.TotalPages : 1;
    var count = Model.ListCount;
}

<form asp-action="LeerlingenOverzicht" method="get">
    <div>
        <p>
            Find by name: <input type="text" name="nameString" value="@ViewData["NameFilter"]"/>
            <input type="submit" value="Search" class="btn btn-primary mt-md-n2"/>
            <a asp-action="LeerlingenOverzicht">Back to Full List</a>
        </p>
    </div>
</form>
<form asp-action="LeerlingenOverzicht" method="get">
    <div>
        <p>
            Find by klas: <input type="text" name="klasString" value="@ViewData["KlasFilter"]"/>
            <input type="submit" value="Search" class="btn btn-primary mt-md-n2"/>
            <a asp-action="LeerlingenOverzicht">Back to Full List</a>
        </p>
    </div>
</form>
@using (Html.BeginForm("LeerlingUpdate", "Admin", FormMethod.Get))
{
    <section class="left-allignToNav pt-3">
        <body>
        <div class="tbl-header">
            <table>
                <thead>
                <tr>
                    <th class="h6">
                        <a asp-action="LeerlingenOverzicht" asp-route-sortOrder="@ViewData["VoornaamSortParm"]" asp-route-klasString="@ViewData["KlasFilter"]" asp-route-nameString="@ViewData["NameFilter"]">Voornaam</a>
                    </th>
                    <th class="h6">
                        <a asp-action="LeerlingenOverzicht" asp-route-sortOrder="@ViewData["FamilienaamSortParm"]" asp-route-klasString="@ViewData["KlasFilter"]" asp-route-nameString="@ViewData["NameFilter"]">Familienaam</a>
                    </th>
                    <th class="h6">Sprint</th>
                    <th class="h6">Typer</th>
                    <th class="h6">Mklas</th>
                    <th class="h6">Vakken Sprintkeuze</th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <div class="container">
                <div class="">
                    <table>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr class="trBordercolor">
                                <input asp-for="@Model[i].leerlingID" type="hidden"/>
                                <input asp-for="@Model[i].email" type="hidden"/>
                                <input asp-for="@Model[i].KlasID" type="hidden"/>
                                <input asp-for="@Model[i].hulpleerlingID" type="hidden"/>
                                <input asp-for="@Model[i].KlasID" type="hidden"/>
                                <td>@Html.DisplayFor(model => Model[i].voorNaam)</td>
                                <td>@Html.DisplayFor(model => Model[i].familieNaam)</td>
                                <td>
                                    <input asp-for="@Model[i].sprinter" type="checkbox" class="form-control"/>
                                </td>
                                <td>
                                    <input asp-for="@Model[i].typer" type="checkbox" class="form-control"/>
                                </td>
                                <td>
                                    <input asp-for="@Model[i].mklas" type="checkbox" class="form-control"/>
                                </td>
                                @if (Model[i].hulpleerlingID != null)
                                {
                                    <td>
                                        <a asp-action="LeerlingOverzicht" asp-route-hulpleerlingId="@Model[i].hulpleerlingID">Wijzig</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a>Geen hulpleerling</a>
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        </body>
    </section>
    <div class="left-allignToNav tableFixFooter flex-display">
        <span class="left-allign">Totaal: @count</span>
        <div class="margin-auto">
            <a>
                @currentpage / @totalpage
            </a>
            <a asp-action="LeerlingenOverzicht"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-nameString="@ViewData["NameFilter"]"
               asp-route-klasString="@ViewData["KlasFilter"]"
               asp-route-buttonPress="true"
               class="btn btn-primary right-allign @nextDisabled">
                Next
            </a>
            <a asp-action="LeerlingenOverzicht"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-nameString="@ViewData["NameFilter"]"
               asp-route-klasString="@ViewData["KlasFilter"]"
               asp-route-buttonPress="true"
               class="btn btn-primary right-allign @prevDisabled">
                Previous
            </a>
        </div>
    </div>
    <input type="submit" class="btn btn-primary margin" value="Bevestig">
}
<script>
    $('.select2').select2();
    $(document).ready(function() {
        $("#partialView").load("PartialAlleLeerlingen");
    });
    $("#cmbKlassen").change(function() {
        if ($(this).children(":selected").attr("id") !== "klasIndex") {
            $("#partialView").load("PartialLeerlingenByKlas", { klasID: $(this).find('option:selected').val() });
        } else {
            $("#partialView").load("PartialAlleLeerlingen");
        }
    });
    $("#cmbLeerlingen").change(function() {
        if ($(this).children(":selected").attr("id") !== "leerlingIndex") {
            $("#partialView").load("PartialComboLeerlingen", { leerlingID: $(this).find('option:selected').val() });
        } else {
            $("#partialView").load("PartialAlleLeerlingen");
        }
    });
</script>

<style>
    .left-allign {
        float: left;
        }
    .flex-display{
        display: flex;
        }
    .margin-auto{
        margin-left: auto;
        }
</style>