@model IList<SprintPlannerZM.Model.Sprintvakkeuze>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6">Keuze vakken @Model[0].Hulpleerling.Leerling.voorNaam  @Model[0].Hulpleerling.Leerling.familieNaam</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        @{
            var count = 0;
        }
        @foreach (var sprintvakkeuze in Model)
        {
            @if (sprintvakkeuze.Vak.sprint)
            {
                count++;
                <div class="trBordercolor container">
                    <div class="">
                        <div class="pt-2 containerllnoverzicht">
                            <input id="vakId{@count}" value="@sprintvakkeuze.sprintvakkeuzeID" type="hidden" />
                            <input id="leerlingId{@count}" value="@sprintvakkeuze.hulpleerlingID" type="hidden" />
                            <h6 class="w-20" id="vaknaam{@count}"><b> @sprintvakkeuze.Vak.vaknaam</b></h6>
                            @if (@Model[0].Hulpleerling.Leerling.sprinter)
                            {
                                <span> Sprint </span>
                                <input id="vakSprint{@count}" type="checkbox"  @(Convert.ToBoolean(sprintvakkeuze.sprint) ? "checked='checked'" : string.Empty)>
                            }
                            @if (@Model[0].Hulpleerling.Leerling.typer)
                            {
                                <span> Typer </span>
                                <input id="vakTyper{@count}" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(sprintvakkeuze.typer) ? "checked='checked'" : string.Empty)>
                            }
                            @if (@Model[0].Hulpleerling.Leerling.mklas)
                            {
                                <span> M-Klas </span>
                                <input id="vakMklas{@count}" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(sprintvakkeuze.mklas) ? "checked='checked'" : string.Empty)>
                            }
                            
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</section>
<button id="btnKeuzeUpdate" class="btn btn-primary mt-md-n2 margin"> Bevestig </button>

<script>
    $("#btnKeuzeUpdate").click(function () {
        console.log(lijst());
        $(this).load("UpdateVakken", { vakKeuzeLijst: JSON.stringify(lijst()) });

        function lijst() {
            const leerlingLijst = [];
            for (let count = 1; count <= @count; count++) {
                const vakId = $(`input[id="vakId{${count}}"]`).val();
                const vakSprint = $(`input[id="vakSprint{${count}}"]`).is(':checked');
                const vakTyper = $(`input[id="vakTyper{${count}}"]`).is(':checked');
                const vakMklas = $(`input[id="vakMklas{${count}}"]`).is(':checked');
                const leerlingId = $(`input[id="leerlingId{${count}}"]`).val();
                const leerlingInfo = {};
                leerlingInfo["sprintvakkeuzeId"] = vakId;
                leerlingInfo["sprint"] = vakSprint;
                leerlingInfo["typer"] = vakTyper;
                leerlingInfo["mklas"] = vakMklas;
                leerlingInfo["hulpleerlingId"] = leerlingId;
                leerlingLijst.push(leerlingInfo);
            }
            return leerlingLijst;
        }
    })

</script>