@model SprintPlannerZM.Model.Leerling

<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6">Leerling ondersteuning keuze</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <div class="trBordercolor container">
            <div class="">
                <input id="leerlingId" value="@Model.leerlingID" type="hidden"/>
                <input id="familieNaam" value="@Model.familieNaam" type="hidden"/>
                <input id="voorNaam" value="@Model.voorNaam" type="hidden"/>
                <input id="email" value="@Model.email" type="hidden"/>
                <input id="klasId" value="@Model.KlasID" type="hidden"/>

                <div class="pt-2 containerllnoverzicht">
                    <h6 class="w-20" id="leerlingNaam"> @Model.familieNaam @Model.voorNaam</h6>
                    <span> Sprint </span>
                    <input id="leerlingSprint" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(Model.sprinter) ? "checked='checked'" : string.Empty)>
                    <span> Typer </span>
                    <input id="leerlingTyper" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(Model.typer) ? "checked='checked'" : string.Empty)>
                    <span> M-Klas </span>
                    <input id="leerlingMklas" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(Model.mklas) ? "checked='checked'" : string.Empty)>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="containerDropdowns left-allignToNav tableFixFooter">Totaal: 1</div>
<button id="btnUpdate" class="btn btn-primary mt-md-n2 margin "> Bevestig </button>
<script>
    $("#leerlingNaam").click(function() {
        $("#partialViewLeerling").load("LeerlingOverzicht", { leerlingID: $("#leerlingId").val() });
        // verwijder vorige partialview zonder data of gekoppelde events te verwijderen.
        $("#partialView").detach();
    });

    $("#btnUpdate").click(function() {
        const leerlingLijst = [];
        const leerlingId = $(`#leerlingId`).val();
        const familieNaam = $(`#familieNaam`).val();
        const voorNaam = $(`#voorNaam`).val();
        const email = $(`#email`).val();
        const klasId = $(`#klasId`).val();
        const leerlingSprint = $(`#leerlingSprint`).is(':checked');
        const leerlingTyper = $(`#leerlingTyper`).is(':checked');
        const leerlingMklas = $(`#leerlingMklas`).is(':checked');
        const leerlingInfo = {};
        leerlingInfo["leerlingId"] = leerlingId;
        leerlingInfo["familieNaam"] = familieNaam;
        leerlingInfo["voorNaam"] = voorNaam;
        leerlingInfo["email"] = email;
        leerlingInfo["klasId"] = klasId;
        leerlingInfo["sprinter"] = leerlingSprint;
        leerlingInfo["typer"] = leerlingTyper;
        leerlingInfo["mklas"] = leerlingMklas;
        leerlingLijst.push(leerlingInfo);
        $(this).load("UpdateLeerlingen", { leerlingenLijst: JSON.stringify(leerlingLijst) });
    });
</script>