@model SprintPlannerZM.Model.Leerling

<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6">Leerling ondersteuning keuze</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <div class="">
                <input type="hidden" id="leerlingID" asp-for="@Model.leerlingID" value="@Model.leerlingID" />
                <input type="hidden" asp-for="@Model.familieNaam" />
                <input type="hidden" asp-for="@Model.voorNaam" />
                <input type="hidden" asp-for="@Model.email" />
                <input type="hidden" asp-for="@Model.KlasID" />

                <div class="pt-2 containerllnoverzicht">
                    <h6 class="w-20" id="leerlingInfo" value="@Model.leerlingID"> @Model.familieNaam @Model.voorNaam</h6>
                    <span> Sprint </span>
                    <input asp-for="@Model.sprinter" type="checkbox" id="sprint" class="ml-lg-n5 mt-1">
                    <span> Typer </span>
                    <input asp-for="@Model.typer" type="checkbox" id="typer" class="ml-lg-n5 mt-1">
                    <span> M-Klas </span>
                    <input asp-for="@Model.mklas" type="checkbox" id="mklas" class="ml-lg-n5 mt-1">
                    <button type="submit" class="btn btn-primary mt-md-n2 "> Bevestig </button>
                </div>
            </div>
    </div>
</section>
<div class="containerDropdowns left-allignToNav tableFixFooter">Totaal: 1</div>
<script>
    $("#leerlingInfo").click(function () {
        $("#partialViewLeerling").load("LeerlingOverzicht", { leerlingID: $("#leerlingID").val() });
        console.log($("#leerlingID").val());
        // verwijder vorige partialview zonder data of gekoppelde events te verwijderen.
        $("#partialView").detach();
    });
</script>