<div class="tbl-content">
        <table>
            <tbody>
            <section>
                <div class="">
                    <div class="containerLeerkrachten">
                        @{
                            var count = 0;
                        }
                        @foreach (var leerkracht in @Model)
                        {
                            @if (leerkracht.sprintToezichter == true)
                            {
                                count++;
                                <div class=" card p-1 m-2" style="width: 15rem;">
                                    <div>
                                        @leerkracht.achternaam @leerkracht.voornaam
                                        <label class="switch float-right">
                                            <input id="chboxLeerkracht{@count}" value="@leerkracht.leerkrachtID" type="checkbox" @(Convert.ToBoolean(leerkracht.sprintToezichter) == true ? "checked='checked'" : string.Empty)>
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            }
                        }
                        @if (count % 3 != 0)
                        {
                            @if (count % 3 == 1)
                            {
                                <div class=" card p-1 m-2" style="width: 15rem; visibility: hidden"></div>
                            }
                            <div class=" card p-1 m-2" style="width: 15rem; visibility: hidden"></div>
                        }
                    </div>
                </div>
            </section>
            </tbody>
        </table>
    </div>
<div class="containerDropdowns tableFixFooter">Totaal: @count</div>

<script>
    $('input[id*="chboxLeerkracht"]').change(function () {
        $.ajax({
            type: "POST",
            url: `UpdateToezichter`,
            data: { "leerkrachtID": $(this).val() }
        });
    });
</script>