@model SprintPlannerZM.Model.Hulpleerling

<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6">Keuze sprint/typer/m-klas</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        @{
            var count = 0;
        }

            @if (Model.Sprintvakken != null)
            {
                if (Model.Sprintvakken.Any())
                {
                    foreach (var sprintvak in Model.Sprintvakken)
                    {
                        count++;
                        <div class="trBordercolor container">
                            <div class="">
                                <div class="pt-2 containerllnoverzicht">
                                    <input id="vakId{@count}" value="@sprintvak.sprintvakID" type="hidden"/>
                                    <input id="leerlingId{@count}" value="@sprintvak.hulpleerlingID" type="hidden"/>
                                    <h6 class="w-20" id="vaknaam{@count}"> @sprintvak.Vak.vaknaam</h6>
                                    <span> Sprint </span>
                                    <input id="vakSprint{@count}" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(sprintvak.sprint) ? "checked='checked'" : string.Empty)>
                                    <span> Typer </span>
                                    <input id="vakTyper{@count}" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(sprintvak.typer) ? "checked='checked'" : string.Empty)>
                                    <span> M-Klas </span>
                                    <input id="vakMklas{@count}" type="checkbox" class="ml-lg-n5 mt-1" @(Convert.ToBoolean(sprintvak.mklas) ? "checked='checked'" : string.Empty)>
                                </div>
                            </div>
                        </div>
                    }
                    <input id="anySprint" value="true" type="hidden"/>
                }
                else
                {
                    foreach (var vak in Model.Klas.Vakken)
                    {

                    count++;
                    <div class="trBordercolor container">
                        <div class="">
                            <div class="pt-2 containerllnoverzicht">
                                <input id="vakId{@count}" value="@Model." type="hidden"/>
                                <input id="leerlingId{@count}" value="@Model.leerlingID" type="hidden"/>
                                <h6 class="w-20" id="vaknaam{@count}"> @vak.vaknaam</h6>
                                <span> Sprint </span>
                                <input id="vakSprint{@count}" type="checkbox" class="ml-lg-n5 mt-1">
                                <span> Typer </span>
                                <input id="vakTyper{@count}" type="checkbox" class="ml-lg-n5 mt-1">
                                <span> M-Klas </span>
                                <input id="vakMklas{@count}" type="checkbox" class="ml-lg-n5 mt-1">
                            </div>
                        </div>
                    </div>
                        <input id="anySprint" value="false" type="hidden"/>
                    }
                }
            }
        }
    </div>
</section>
<button id="btnUpdate" class="btn btn-primary mt-md-n2 margin"> Bevestig </button>

<script>
    @*$("#btnUpdate").click(function () {
        const leerlingLijst = [];
        for (let count = 1; count <= @count; count++) {
            const leerlingId = $(`input[id="leerlingId{${count}}"]`).val();
            const familieNaam = $(`input[id="familieNaam{${count}}"]`).val();
            const voorNaam = $(`input[id="voorNaam{${count}}"]`).val();
            const email = $(`input[id="email{${count}}"]`).val();
            const klasId = $(`input[id="klasId{${count}}"]`).val();
            const leerlingSprint = $(`input[id="leerlingSprint{${count}}"]`).is(':checked');
            const leerlingTyper = $(`input[id="leerlingTyper{${count}}"]`).is(':checked');
            const leerlingMklas = $(`input[id="leerlingMklas{${count}}"]`).is(':checked');
            const leerlingInfo = {};
            leerlingInfo["leerlingId"] = leerlingId;
            leerlingInfo["familieNaam"] = familieNaam;
            leerlingInfo["voorNaam"] = voorNaam;
            leerlingInfo["email"] = email;
            leerlingInfo["klasId"] = klasId;
            leerlingInfo["sprinter"] = leerlingSprint;
            leerlingInfo["typer"] = leerlingTyper;
            leerlingInfo["mklas"] = leerlingMklas;
            leerlingLijst.push(leerlingInfo);
        }
        $(this).load("UpdateLeerlingen", { leerlingenLijst: JSON.stringify(leerlingLijst) });
    });*@

    var anysprint = $("#anySprint").val();

    $("#btnUpdate").click(function() {
        if (anysprint === "true") {
            console.log(true);
            $(this).load("UpdateLeerlingen", { vakKeuzeLijst: JSON.stringify(lijst()), anySprint: true });
        } else {
            console.log(false);
            $(this).load("UpdateLeerlingen", { vakKeuzeLijst: JSON.stringify(lijst()), anySprint: false });
        }
    });

    function lijst() {
        const leerlingLijst = [];
        for (let count = 1; count <= @count; count++) {
            const vakId = $(`input[id="vakId{${count}}"]`).val();
            const vakSprint = $(`input[id="vakSprint{${count}}"]`).is(':checked');
            const vakTyper = $(`input[id="vakTyper{${count}}"]`).is(':checked');
            const vakMklas = $(`input[id="vakMklas{${count}}"]`).is(':checked');
            const leerlingId = $(`input[id="leerlingId{${count}}"]`).val();
            const leerlingInfo = {};
            if (anysprint === "false") {
                leerlingInfo["vakId"] = vakId;
            } else {
                leerlingInfo["sprintvakId"] = vakId;
            }
            leerlingInfo["sprint"] = vakSprint;
            leerlingInfo["typer"] = vakTyper;
            leerlingInfo["mklas"] = vakMklas;
            leerlingInfo["hulpleerlingId"] = leerlingId;
            leerlingLijst.push(leerlingInfo);
        }
        return leerlingLijst;
    }
</script>