@model SprintPlannerZM.Model.Leerling

@if (Model.hulpleerlingID != null)
{

    @Model.sprinter @Model.typer @Model.mklas
    <span>
        sprintvakken
        @foreach (var sprintvak in @Model.hulpleerling.Sprintvakken)
        {

            @sprintvak.sprintvakID @sprintvak.Vak.vaknaam

        }
    </span>

}

<section class="left-allignToNav pt-3">
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6">Leerling Overzicht @Model.voorNaam @Model.familieNaam</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-introduction">
        <div class="trBordercolor container">
            <div class="">
                <div class="pt-1">
                    Stamboeknummer: @Model.leerlingID
                    <br />klas naam @Model.Klas.klasnaam
                    <br />email Smartschool: @Model.email
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="tbl-header">
        <table>
            <thead>
            <tr>
                <th class="h6">@Model.voorNaam @Model.familieNaam heeft volgende vakken</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <div class="trBordercolor container">
            <div class="">
                <div class="pt-2">
                    @foreach (var vak in @Model.Klas.Vakken)
                    {
                        <span> vak @vak.vaknaam </span>
                        <br />
                    }
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="containerDropdowns left-allignToNav tableFixFooter pb-5 mb-5"></div>
