@model IList<SprintPlannerZM.Model.Vak>

<section>
    <div class="text-white">
        <div class="containerFlex">
            @foreach (var vak in @Model)
            {
                <div class=" card text-black-50 p-1 m-2" style="width: 14rem;">
                    <div class="card-header">
                        @vak.vaknaam
                    </div>
                    <div class="card-body text-black-50">
                        <span> klasID: @vak.klasID</span><br>
                        <span> klas: @vak.klas.klasnaam</span><br>
                        <span> leerkrID: @vak.leerkrachtID</span><br>
                        <span> leerkracht naam: @vak.Leerkracht.achternaam</span><br>
                        <span> sprint: @vak.sprint</span><br>
                    </div>
                    <div class="card-footer">
                        <a type="button" id="wijzigLeerling" name="@vak.vakID" class="btn btn-success float-right" asp-action="VakEdit" asp-route-id="@vak.vakID">Wijzig</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>