@model IList<SprintPlannerZM.Model.Leerling>

<section>
    <div class="text-white">
        <div class="containerFlex">
            @foreach (var leerling in @Model)
            {
                <div class=" card text-black-50 p-1 m-2" style="width: 14rem;">
                    <div class="card-header">
                        @leerling.familieNaam @leerling.voorNaam
                    </div>
                    <div class="card-body text-black-50">
                        <span> klasID: @leerling.KlasID</span><br>
                        <span> klasNaam : @leerling.Klas.klasnaam</span><br>
                        <span> Stamboek SmartS. : @leerling.leerlingID</span><br>
                        @if (@leerling.hulpleerling != null)
                        {
                            <span> klasNaam : @leerling.hulpleerling.hulpleerlingID</span>
                            <br>
                        }
                    </div>
                    <div class="card-footer">
                        <a type="button" id="wijzigLeerling" name="@leerling.leerlingID" class="btn btn-success float-right" asp-action="LeerlingEdit" asp-route-id="@leerling.leerlingID">Wijzig</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>