@model SprintPlannerZM.Model.Vak
@{
                                
}

@Model.vaknaam @Model.vakID
<br />
@Model.Leerkracht.achternaam
<br />
@Model.klas.klasnaam met id @Model.klasID
<br />
sprint mogelijkheid @Model.sprint
<br />
Aantal leerlingen die dit vak als hulp leerling volgen: @Model.Sprintvakkeuzes.Count
<br />

@foreach (var sprintkeuze in @Model.Sprintvakkeuzes)
{
<span>  @sprintkeuze.hulpleerlingID   als sprint :@sprintkeuze.sprint     als typer :@sprintkeuze.typer    als mklas :@sprintkeuze.mklas</span>
}