@model SprintPlannerZM.Model.Vak
    <div class="left-allignToNav">
        <div class=" card text-black-50 p-1 m-2" style="width: 14rem;">
            <div class="card-header">
                @Model.vaknaam @Model.klas.klasnaam <br />
                Leerkracht @Model.Leerkracht.voornaam @Model.Leerkracht.achternaam <br />
            </div>
        </div>

        <form method="post">
            <div class="mngmnt-background-div p-3">
                <input type="hidden" asp-for="@Model.vakID" />
                <input type="hidden" asp-for="@Model.klasID" />
                <input type="hidden" asp-for="@Model.leerkrachtID" />
                <div class="form-group">
                    <label asp-for="@Model.vaknaam">Vak naam</label>
                    <input asp-for="@Model.vaknaam" class="form-control" />
                    <span asp-validation-for="@Model.vaknaam"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.sprint">Sprint Vak ?</label>
                    <input type="checkbox" asp-for="@Model.sprint" class="form-control" />
                    <span asp-validation-for="@Model.sprint"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
