@using SprintPlannerZM.Model
@using SprintPlannerZM.Services

@model SprintPlannerZM.Model.Leerling

<div class="">
    <input type="hidden" name="leerlingID" asp-for="@Model.leerlingID" value="@Model.leerlingID" />
    <input type="hidden" asp-for="@Model.familieNaam" />
    <input type="hidden" asp-for="@Model.voorNaam" />
    <input type="hidden" asp-for="@Model.email" />
    <input type="hidden" asp-for="@Model.KlasID" />

    <div class="pt-2 containerllnoverzicht">
        <h6 class="w-20" > @Model.familieNaam @Model.voorNaam</h6>
        <span> Sprint </span>
        <input type="checkbox" asp-for="sprinter" id="sprint" class="ml-lg-n5 mt-1">
        <span> Typer </span>
        <input asp-for="typer" type="checkbox" id="typer" class="ml-lg-n5 mt-1">
        <span> M-Klas </span>
        <input asp-for="mklas" type="checkbox" id="mklas" class="ml-lg-n5 mt-1">
        <button type="submit" class="btn btn-primary mt-md-n2 "> Bevestig </button>
    </div>
        
</div>

